<div class="edit-accounts-header group">
  <h1>Edit Accounts</h1><a href="#" class="close-edit">x</a>
</div>
<div class="edit-window">
  <div class="edit-accounts-window">
      <button class="add-account sub-account-window">+ Add Account</button>
  </div>
</div>
