  <div class="all-edit-accounts">
    <footer class="group">
      <button class="close-edit"> X </button>
    </footer>
    <div class="edit-accounts-window">
      <button class="add-account sub-account-window">+ Add Account</button>
    </div>

    <div class="edit-accounts-window-list">

    </div>

  </div>
