<div class="acct-type"><%= account.escape("account_type") %></div>
<div class="acct-amount">$ <%= account.amount %> <button class="delete-account" data-id="<%= account.escape("id") %>">-</button></div>
