


<h1>New Account</h1><br>
  <label for="inst-name">Institution Name: </label><br>
  <input id="acct-inst-name" type="text" name="institution_id" value="<%= account.escape("institution_id") %>"><br>

  <label for="inst-name">Account Type: </label><br>
  <input id="acct-type" type="text" name="account_type" value="<%= account.escape("account_type") %>"><br>

  <button>Create Account</button>
