<div class="group" id="sidebar">

<h1>Accounts</h1><button>+</button> <a href="#">edit</a>

<section>
  <h5>Cash</h5>
  <ul class="cash">

  </ul>
</section>
<section>
  <h5>Credit Card</h5>
  <ul class="credit">

  </ul>
</section>
<section>
  <h5>Loans</h5>
  <ul class="loan">

  </ul>
</section>
<section>
  <h5>Investments</h5>
  <ul class="investment">

  </ul>
</section>
<section>
  <h5>Property</h5>
  <ul class="property">

  </ul>
</section>

</div>

<div class="main-window">
  <section class="alerts">
    <h2>Alerts</h2>
  </section>

  <section class="bills">
    <h2>Bills</h2>
  </section>

  <section class="budgets">
    <h2>Budgets</h2>
  </section>

  <section class="goals">
    <h2>Goals</h2>
  </section>

</div>
  <div class="modal-window"></div>
