<div class="group" id="sidebar">

<h1>Accounts</h1><button>+</button>

<section>
  <h3>Cash</h3>
  <ul class="cash">

  </ul>
</section>
<section>
  <h3>Credit Card</h3>
  <ul class="credit">

  </ul>
</section>
<section>
  <h3>Loans</h3>
  <ul class="loan">

  </ul>
</section>
<section>
  <h3>Investments</h3>
  <ul class="investment">

  </ul>
</section>
<section>
  <h3>Property</h3>
  <ul class="property">

  </ul>
</section>

  <ul class="accounts-list">

  </ul>
  <div class="modal-window"></div>
</div>
