<h1><%= model.institution().escape("name")%></h1>
<h1><%= model.escape("account_type")%></h1>

<button class="add-trans">Add Transaction</button>

<ul class="transactions-list">

</ul>

<div class="modal-window"></div>
