<button class="add-bill">Add Bill</button>

<div class="bill-list-top group">
  <div class="bill-date">Date</div>
  <div class="bill-account">Account</div>
  <div class="bill-amount">Amount</div>
</div>

<div class="bill-list group">

</div>
