<div class="top-container">
  <div class="main-div"></div>
</div>


<script type="text/javascript">
    $(document).ready(function(){
      SixthCents.initialize();
    });
//put in the collection of data categories here call erb and then convert to JSON
//name it SixthCents.Models.CategoryTypes do the same with Account types
</script>
