<div class="login-signup">
  <h1>Log In</h1><br>

  <form class="login-form" action="<%= session_url %>" method="post">
    <%= form_auth %>

    <label for="email-input">Email: </label>
    <input type="text" name="user[email]" value="<%= @user.email %>"><br><br>

    <label for="password-input">Password: </label>
    <input type="password" name="user[password]" value=""><br><br>

    <button>Log In</button>
  </form>
</div>
