

<% if(SixthCents.currentUser.isSignedIn()) { %>

  <div id="header-top" class="group">
    <div class="header-top-container">
      <div class="logged-in-header group">
          <a class="sign-in-label">Signed in as: </a>
          <div id="avatar"><a id="avatar"><img src="<%= SixthCents.currentUser.escape("image_url") %>"></a></div>
          <a href="#" class="non-link"><%= SixthCents.currentUser.escape("name") %></a> |
          <a href="#" class="non-link"><%= SixthCents.currentUser.escape("email") %></a> |
          <a href="#" id="sign-out-link">Sign Out</a>
      </div>
    </div>
  </div>

  <div class="header-bottom-container">
    <div id="header-bottom" class="group">
        <a href="#" class="main-logo"><img src="/images/sixth_cents_logo_black.png"></a>
          <ul class="right-nav group">
            <li><a href="#">Overview</a></li>
            <li><a href="#accounts" class="sidebar-account-title">Transactions</a></li>
            <li><a href="#budgets">Budgets</a></li>
            <li><a href="#trends">Trends</a></li>
          </ul>
    </div>
  </div>


<% } else { %>

  <div id="header-top" class="group">
    <a href="#" id="main-logo-img"><img src="/images/sixth_cents_logo.png"></a>

    <div id="sign-in">
      <a href="#users/new">Sign Up</a> |
      <a href="#session/new">Sign In</a>
    <div>

  </div>

<% } %>
