<h2>Log in to Sixth Cents</h2>

<form>

  <div class="sign-in-field">
    <label>
      Email<br>
      <input type="email" name="user[email]">
    </label>
  </div>

  <br>

  <div class="sign-in-field">
    <label>
      Password<br>
      <input type="password" name="user[password]">
    </label>
  </div>

  <br>

    <button class="sign-in">Sign In</button>

    <form>
      <input type="hidden" name="user[email]" value="steve@example.com">
      <input type="hidden" name="user[password]" value="secretss">
      <button class="sign-in-guest">Guest Log In</button>
    </form>

</form>
