
  <img src="<%= source %>">

  <div class="splash-title">
    <h1>Sixth Cents helps you</h1>
    <h1 class="splash-bottom">be better with your money</h1>
    <a href="#users/new" class="sign-up">Sign Up Free</a>

    <form id="sign-in-guest-container">
      <input type="hidden" name="user[email]" value="OctobersVeryOwn@gmail.com">
      <input type="hidden" name="user[password]" value="headlines">
      <button class="sign-in-guest-splash">Guest Log In</button>
    </form>


    <div class="twitter-container">
      <a class="twitter" href="/auth/twitter" target="_blank">
        <img src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png">
      </a>
    </div>


  </div>
