
<h2>Create a new account</h2>

<form>

  <div class="sign-up-field">
    <label>
      Your Name<br>
      <input type="text" name="user[name]"
             value="<%= user.escape("name") %>">
    </label>
  </div>

  <br>

  <div class="sign-up-field">
    <label>
      Your Email<br>
      <input type="email" name="user[email]"
             value="<%= user.escape("email") %>">
    </label>
  </div>

  <br>

  <div class="sign-up-field">
    <label>
      Password<br>
      <input type="password" name="user[password]"
             value="<%= user.escape("password") %>">
    </label>
  </div>

  <br>

  <button class="create-account">Create Account</button>

</form>
