
<h2>Create a new account</h2>

<form>

  <div class="sign-up-field">
    <label>
      Your Name<br>
      <input id="input-user-name" type="text" name="user[name]"
             value="<%= user.escape("name") %>">
    </label>
  </div>

  <br>

  <div class="sign-up-field">
    <label>
      Your Email<br>
      <input id="input-user-email" type="email" name="user[email]"
             value="<%= user.escape("email") %>">
    </label>
  </div>

  <br>

  <div class="sign-up-field">
    <label>
      Password<br>
      <input id="input-user-password" type="password" name="user[password]"
             value="<%= user.escape("password") %>">
    </label>
  </div>

  <br>

  <div class="sign-up-field">
    <label>
      Image
      <input type="file" name="user[image]" id="input-user-image" >
    </label>
      <br>
      <img src="" id="preview-user-image" width="50">
  </div>

  <br>

  <div class="button-container group">
    <button class="create-account">Create Account</button>

    <div class="twitter-container-sign-up">
      <a class="twitter" href="/auth/twitter" target="_blank">
        <img src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png">
      </a>
    </div>
  </div>

</form>
