<h1> New Budget </h1>

<label for="category">Category: </label><br>
<select name="category" id="category">
  <% categories.forEach(function(category){ %>
    <option value="<%= category %>"><%= category %></option>
  <% }) %>
</select><br>

<label for="amount">Amount: </label><br>
$ <input id="amount" type="number" name="amount" value="<%= model.escape("amount") %>"><br>

<label for="occurrence">Occurrence</label><br>
<textarea id="occurrence" name="occurrence"><%= model.escape("occurrence") %></textarea><br>

<button class="create-budget">Create Budget</button> or <a class="cancel-form" href="#">Cancel</a>
