<div class="main-window-budgets">

<section class="budgets-calendar">
  <button class="add-budget">Create Budget</button>
</section>


<section class="income group">
  <section class="income-sidebar">
    <h1>Income</h1>
    <p>$ <%= parseInt(income).toLocaleString() %> so far of $ <%= parseInt(budgetIncome).toLocaleString() %></p>
  </section>
  <section class="income-main">
  </section>
</section>

<section class="spend group">
  <section class="spends-sidebar">
    <h1>Spending</h1>
    <p>$ <%= parseInt(spend).toLocaleString() %> so far of $ <%= parseInt(budgetSpend).toLocaleString() %></p>
  </section>

  <section class="spends-main">
  </section>
</section>

</div>

<div class="modal-window-budgets display-none"></div>
