<div class="group" id="sidebar">
  <div>
    <ul>
      <li><h1>Income</h1></li>
      <li><h1>Spending</h1></li>
    </ul><br>
  </div>
</div>

<div class="main-window">

<section>****************Calendar of budgets****************</section>

<button class="add-budget">Create Budget</button>

<table class="budgets-list">
    <th>Category</th>
    <th>Spent</th>
    <th>Budget</th>
</table>

</div>

<div class="modal-window"></div>
