<div class="main-window">

<section class="budgets-calendar">
  ****************Calendar of budgets****************
  <button class="add-budget">Create Budget</button>
</section>


<section class="income group">
  <section class="income-sidebar">
    <h1>Income</h1>
    <p>$ <%= parseInt(income).toLocaleString() %> so far of $ <%= parseInt(budgetIncome).toLocaleString() %></p>
  </section>
  <section class="income-main">
    <h1>Income graph</h1>
    <table class="income-list">
        <th>Category</th>
        <th>Spent</th>
        <th>Budget</th>
    </table>
  </section>
</section>

<section class="spend group">
  <section class="spends-sidebar">
    <h1>Spending</h1>
    <p>$ <%= parseInt(spend).toLocaleString() %> so far of $ <%= parseInt(budgetSpend).toLocaleString() %></p>
  </section>

  <section class="spends-main">
    <table class="spends-list">
        <h1>spends graph</h1>
        <th>Category</th>
        <th>Spent</th>
        <th>Budget</th>
    </table>
  </section>
</section>

</div>

<div class="modal-window display-none"></div>
