
      <div class="trans-date-item"><%= transaction.escape("transaction_date") %></div>
      <div class="trans-desc-item"><%= transaction.escape("description") %></div>
      <div class="trans-cat-item"><%= transaction.escape("category") %></div>
      <div class="trans-amt-item">$<%= parseInt(transaction.escape("amount")).toLocaleString() %></div>
