
  <td><%= transaction.escape("transaction_date") %></td>
  <td><%= transaction.escape("description") %></td>
  <td><%= transaction.escape("category") %></td>
  <td><%= transaction.escape("amount") %></td>
