/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, header, div, section,
li, p, a, ul, h1, h2, h3,
article {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;

  background: transparent;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.display-none {
  display: none;
}

body {
  position: relative;
  background: #fff;
  font-family: Helvetica;
}


/*----header-top-------*/

#header-top {
  background: #000;
  color: #fff;
  padding: 10px 20px;
  position: relative;
  display: block;
}

#main-logo-img {
  float: left;
  height: 60px;
}

#sign-in {
  float: right;
  font-size: 16px;
  padding-top: 10px;
  position: absolute;
  top: 40px;
  right: 20px;
}

.header-top-container {
  width: 900px;
  margin: 0 auto;
}

#sign-in a:hover {
  background: #fff;
  color: #000;
  text-decoration: underline;
}

#main-logo-img:hover {
  border-bottom: 5px solid #fff;
}

#header-top .logged-in-header {
  font-size: 12px;
  color: #ccc;
  padding-top: 0px;
  float: right;
}

.sign-in-label {
  float: left;
  margin-right: 5px;
}

#header-top .non-link {
  margin-left: 2px;
  margin-right: 2px;
}

#header-top .non-link:hover {
  text-decoration: none;
  background: #000;
  color: #ccc;
  cursor: text;
}

#avatar {
  height: 20px;
  width: 20px;
  float: left;
  margin-top: -3px;
}


#sign-out-link:hover {
  text-decoration: underline;
  background: #fff;
  color: #000;
}
/*----header-bottom-------*/

.header-bottom-container {
  background: #eee;
  color: #000;
}

#header-bottom {
  padding: 10px 20px;
  width: 900px;
  margin: 0 auto;
  background: #eee;
}

#header-bottom > a {
  float: left;
  font-size: 36px;
}

#header-bottom ul {
  float: right;
  font-size: 16px;
}

#header-bottom li {
  float: left;
  font-size: 16px;
  padding: 15px 20px 5px 20px;
}

#header-bottom li:hover {
  color: #aaa;
  border-bottom: 3px solid #aaa;
}

.main-logo img:hover {
  border-bottom: 2px solid #fff;
}


/*---splash-screen-------*/

.splash-img img {
  opacity: .2;
  position: relative;
  height: 100%;
  width: 100%;
}

.twitter-butt {
  padding-top: 0px;
}

img.twitter-butt {
  height: 30px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

.splash-title {
  color: rgb(0, 201, 109);
  font-weight: bold;
  font-size: 4vw;
  text-transform: uppercase;
  top: 100px;
  left: 20px;
  position: absolute;
}

.splash-bottom {
  color: #000;
  top: 25%
}

.splash-title .sign-up {
  background: rgb(253, 138, 16);
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-radius: 5%;
  font-size: 1.8vw;
  padding: 1vw 1.5vw;
  color: #fff;
  font-weight: normal;
}

.splash-title .sign-up:hover {
  background: #000;
}

#sign-in-guest-container {
  margin: 10px 0px;
  font-size: 0px;

}

.sign-in-guest-splash {
  border-radius: 5%;
  padding: 1vw 1.59vw;
  font-size: 1.8vw;
  background: rgb(0, 201, 109);
  color: #fff;
  text-transform: uppercase;
  border: 0;
  margin-top: 10px;
}

.sign-in-guest-splash:hover {
  background: #000;
}

.splash-title .twitter-container:hover {
  opacity: .5;
}

.splash-title .twitter-container {
  width: 10vw;
  background: transparent;
  padding-top: 0px;
}

.splash-title .twitter {
  background: transparent;
}

.splash-title .twitter-container img {
  opacity: 1;
  padding-top: 10px;
}

/*----sign-up-------*/

.sign-up-form {
  width: 400px;
  border: 1px solid #000;
  margin: 50px auto;
  padding: 10px;
}

.sign-up-form h2 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 2px;
}


.sign-up-field {
  padding-left: 50px;
}

.sign-up-field label {
  font-size: 18px;
}

.sign-up-field input {
  border-radius: 5px;
  width: 300px;
  font-size: 16px;
}

.sign-up-form .create-account {
  background: rgb(69, 202, 230);
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-radius: 5%;
  font-size: 15px;
  padding: 3px 15px;
  color: #fff;
  font-weight: normal;
  margin-left: 50px;
  float: left;
}

.twitter-container-sign-up {
  float: left;
  padding-left: 10px;
}

.sign-up-form .create-account:hover {
  background: #000;
}

.twitter-container-sign-up:hover {
  opacity: .5;
}

/*----sign-in-------*/


.sign-in-form {
  width: 400px;
  border: 1px solid #000;
  margin: 50px auto;
  padding: 10px;
}

.sign-in-form h2 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
}


.sign-in-field {
  padding-left: 50px;
}

.sign-in-field label {
  font-size: 18px;
}

.sign-in-field input {
  border-radius: 5px;
  width: 300px;
  font-size: 16px;
}

.sign-in-form button {
  background: rgb(69, 202, 230);
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-radius: 5%;
  font-size: 15px;
  padding: 10px 20px;
  color: #fff;
  font-weight: normal;
  margin-left: 50px;
}

.sign-in-form .sign-in-guest {
  background: #0c0;
}

.sign-in-form button:hover {
  background: #000;
}

/*-------main-div-container------*/

.main-log-div {
  width: 900px;
  margin: 0 auto;
}

/*-----landing-page------*/

#sidebar {
  margin: 10px 10px 10px 0px;
  background: #fff;
  box-shadow: 6px 2px 10px -3px rgba(0,0,0,0.75);
  width: 300px;
  float: left;
}

#sidebar .accounts-top {
  border-bottom: 1px solid #eee;
}

#sidebar .accounts-top h1 {
  float: left;
  padding: 5px;
  padding-left: 20px;
  font-size: 20px;
}

#sidebar .accounts-top a {
  float: right;
  padding: 10px;
}

#sidebar .accounts-top a:hover {
  color: #ccc;
}


#sidebar ul {
  padding-left: 10px;
  padding-bottom: 5px;
}

#sidebar li {
  font-size: 12px;
}

#sidebar li p {
  float: right;
}

#sidebar li {
  padding: 5px;
}

#sidebar li:hover {
  background: linear-gradient(0deg, #ffffff 0%,#f3f3f3 0%,#ededed 0%,#ffffff 100%);
}


#sidebar .account-summary-head,
#sidebar .account-summary-trend {
  font-weight: bold;
  border-bottom: 1px solid #eee;
  background: linear-gradient(45deg, #ffffff 0%,#f3f3f3 0%,#ededed 51%,#ffffff 100%);
  padding: 10px;
  font-size: 14px;
}

#sidebar .account-summary-head:hover {
  background: linear-gradient(0deg, #ffffff 0%,#f3f3f3 0%,#ededed 0%,#ffffff 100%);
  cursor: pointer;
}

#sidebar .sign {
  float: left;
  padding: 2px;
  margin-right: 5px;
}
#sidebar .sign:hover {
  color: #fff;
  background: #000;
}

#sidebar .title {
  float: left;
}

#sidebar .amount {
  float: right;
}


#sidebar .left-side-acct {
  float: left;
}



#sidebar .account-link {
  font-size: 12px;
}

#sidebar .account-list-type {
  font-size: 10px;
  color: #aaa;
}

.assets-debts-item {
  font-size: 15px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: #6E6A69;
}

.assets-debts-title {
  float: left;
  margin-left: 20px;
}

.assets-debts-amount {
  float: right;
  margin-right: 20px;
}

.assets-total {
  padding: 0px;
  margin: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  color: #383635;
}

.trends-title {
  font-size: 20px;
  padding-top: 20px;
  margin: 0px 20px;
  border-bottom: 1px solid #ccc;
}

/*------modal-window-edit accounts------*/

.modal-window.edit-accounts-modal {
  background: #fff;
  position: fixed;
  width: 400px;
  height: 400px;
  overflow: scroll;
  list-style: none;
  border: 1px solid #000;
  top: 100px;
  left: 35%;
}

.modal-window.edit-accounts-modal.shrink {
  overflow: scroll;
  padding: 5px;
  background: transparent;
  top: 100px;
  font-weight: normal;
  border: none;
}

.edit-accounts-window {
  width: 95%;
  margin: 0px 5px;
  padding: 0px 0px;
}

.edit-accounts-window .add-account{
  overflow: scroll;
  width: 100%;
  padding: 5px;
  background: rgb(69, 202, 230);
  color: #fff;
  background: rgb(69, 202, 230);
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: 15px;
  color: #fff;
  font-weight: normal;
}

.all-edit-accounts footer {
  padding: 5px 15px;
}

.close-edit {
  float: right;
  padding: 5px 7px;
}

.close-edit:hover {
  background: red;
}

.add-account.sub-account-window {
  border: 0;
}

.sub-account-window {
  border: 1px solid #eee;
  margin: 5px;
  border-radius: 5%;
  list-style: none;
}

.sub-account-window  h2 {
  margin: 5px;
  font-size: 24px;
  display: block;
  float: none;
}

.sub-account-window li {
  margin: 10px;
  display: block;
}

.sub-account-window .acct-type {
  float: left;
}

.sub-account-window .acct-amount {
  float: right;
}

.sub-account-window button {
  background: #eee;
  padding: 0px 5px;
}

.sub-account-window button:hover {
  background: red;
}

.create-new:hover {
  background: #000;
  color: #fff;
}

/*------Modal-window add account-------*/

.all-edit-accounts form{
  overflow: scroll;
  position: absolute;
  width: 360px;
  padding: 20px;
  color: #000;
  background: #fff;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: 15px;
  top: 30%;
  font-weight: normal;
  border: 2px solid #000;
}

.all-edit-accounts h1 {
  font-size: 25px;
}

/*------Add Bills-------*/

.modal-window.add-bill{
  background: #fff;
  position: fixed;
  width: 250px;
  height: 210px;
  /*bottom: 40%;*/
  /*top: 10vw;*/
  overflow: scroll;
  list-style: none;
  border: 1px solid #000;
  left: 45%;
  padding: 20px;

}

.modal-window.add-bill h2{
  text-align: center;
  font-weight: bold;
}

.modal-window.add-bill label,
.modal-window.add-bill select,
.modal-window.add-bill input {
  /*margin-left: 10px;*/
  margin-bottom: 10px;
}

.modal-window.add-bill label {
  font-size: 14px;
}

.modal-window.add-bill select {
  margin-top: 10px;
}

.modal-window .cancel-form {
  color: rgb(69, 202, 230);
  font-size: 14px;
}

.modal-window .submit-bill {
  padding: 5px;
  background: rgb(69, 202, 230);
  color: #fff;
  /*margin: 5px;*/
  font-size: 15px;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  border-radius: 10%
}

.modal-window .submit-bill:hover {
  background: #000;
}

.modal-window .cancel-form:hover {
  color: red;
  font-size: 14px;
  border-radius: 10%
}


/*------main-window------*/

.main-window {
  float: left;
  width: 560px;
  padding: 10px;
}


/*----bill-list-----*/

.bills {
  margin: 10px 0px;
}

.bills .add-bill {
  background: rgb(69, 202, 230);
  color: #fff;
  margin: 0px 0px 10px 10px;
}

.bills .add-bill:hover {
  background: #000;
}

.bill-list-top div {
  float: left;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-style: dotted;
}

.bill-list-top .bill-date {
  border-right: 1px solid #000;
  padding: 5px 5px 5px 0px;
  width: 85px;
  background: linear-gradient(45deg, #ffffff 0%,#f3f3f3 0%,#ededed 51%,#ffffff 100%);
}

.bill-list-top .bill-account {
  background: linear-gradient(45deg, #ffffff 0%,#f3f3f3 0%,#ededed 51%,#ffffff 100%);
  padding: 5px 5px;
  width: 290px;;
}

.bill-list-top .bill-amount {
  border-left: 1px solid #000;
  background: linear-gradient(45deg, #ffffff 0%,#f3f3f3 0%,#ededed 51%,#ffffff 100%);
  padding: 5px 5px;
  width: 150px;
}

.bill-list-item div {
  float: left;
  padding-top: 5px;
}

.bill-list {
  font-size: 14px;
}

.bill-list .bill-date {
  border-right: 1px solid #000;
  width: 90px;
  border-style: dotted;
}

.bill-list .bill-account {
  border-right: 1px solid #000;
  width: 294px;
  margin: 0;
  border-style: dotted;
  padding-left: 5px;
  overflow: hidden;
}

.bill-list .bill-amount {
  width: 90px;
  border-style: dotted;
  padding-left: 5px;
}

.bill-list .delete-bill {
  background: red;
  height: 4px;
  width: 10px;
  padding: 0px 2px;
  border: .25px solid #ccc;
  vertical-align: middle;
}

.bill-list .delete-bill:hover {
  background: #DC143C;
}

/*------budgets-heading--------*/
.main-log-div .bills-landing-top {
  padding-left: 10px;
  padding-top: 20px;
  border-bottom: 1px solid #000;
}

.main-log-div .buds-heading {
  padding-left: 10px;
  padding-top: 20px;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  border-bottom: 1px solid #000;
}

.main-log-div .bills-heading {
  float: left;
  font-weight: bold;
}

.main-log-div .bills-sub-heading {
  float: left;
  color: #aaa;
  font-weight: normal;
  padding-left: 10px;
}

.main-log-div .budgettitle {
  font-size: 12px;
}

.main-log-div .budget-chart{
  font-size: 12px;
  height: 50px;
  width: 550px;
}

.main-log-div .budgets {
  height: auto;
  overflow: scroll;
}

/*------sidebar-transactions------*/

#sidebar-transactions {
  width: 200px;
  margin: 10px 10px 10px 0px;
  background: #fff;
  box-shadow: 6px 2px 10px -3px rgba(0,0,0,0.75);
  float: left;
  overflow: hidden;
}

#sidebar-transactions ul {
  padding-left: 10px;
  padding-bottom: 5px;
}

#sidebar-transactions li {
  font-size: 12px;
}

#sidebar-transactions li p {
  float: right;
}

#sidebar-transactions li {
  padding: 5px;
}

#sidebar-transactions li:hover {
  background: linear-gradient(0deg, #ffffff 0%,#f3f3f3 0%,#ededed 0%,#ffffff 100%);
}

.sidebar-items {
  font-size: 20px;
}

.sidebar-items h2 {
  color: #A7A7A8;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  margin: 5px 10px 5px 10px;
  font-size: 14px;
  font-weight: normal;
}

.transaction-sidebar-item {
  color: #000;
  text-align: left;
  font-size: 12px;
  padding-top: 10px;
}

.transaction-sidebar-item-account {
  border-bottom: 1px solid #000;
}



.top-level-filters {
  padding-left: 10px;
}

 .sidebar-account-title {

}

.sidebar-account-description {
  color: #727570;
}

/*------main-transactions------*/
.main-window.transactions {
  width: 670px;
}

.main-window.transactions .top-title {
  font-weight: bold;
  font-size: 20px;
}

.main-window.transactions .add-trans {
  padding: 7px 8px 6px 5px;
  text-transform: uppercase;
  margin: 5px;
  background: #fff;
  border-radius: 3px;
}

.main-window.transactions .add-trans:hover {
  background: #ccc;
  color: #fff;
}

.transactions-list-head {
  background: linear-gradient(45deg, #ffffff 0%,#f3f3f3 0%,#ededed 51%,#ffffff 100%);
  border-left: 1px solid #ccc;
}

.transaction-item-list {
  height: 475px;
  overflow: scroll;
}

.transactions-list-item:hover {
  background: #eee;
  cursor: pointer;
}

.transactions-list-item > div {
  float: left;
}

.transactions-list-item.gray-back {
  background: #eee;
}

.transactions-list-item.white-back {
  background: #fff;
}

.transactions-list-item.gray-back:hover {
  background: #aaa;
}

.transactions-list-item.white-back:hover {
  background: #aaa;
}

.transactions-list-head {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.transactions-list-head > div {
  float: left;
  border-right: 1px solid #ccc;
  font-size: 14px;
  font-weight: bold
}

.trans-date-top {
  padding: 2px 0px 2px 5px;
  width: 90px;
}

.trans-desc-top {
  padding: 2px 0px 2px 5px;
  width: 272px;
}

.trans-cat-top {
  padding: 2px 0px 2px 5px;
  width: 177px;
}

.trans-amt-top {
  padding: 2px 0px 2px 5px;
  width: 105px;
}

.transactions-list-item {
  font-size: 14px;
  border: 1px solid #ccc;
}

.trans-date-item {
  width: 90px;
  border-right: 1px solid #ccc;
  padding-left: 5px;
  border-bottom: 1px solid #ccc;
}

.trans-desc-item {
  width: 272px;
  border-right: 1px solid #ccc;
  padding-left: 5px;
  border-bottom: 1px solid #ccc;
}

.trans-cat-item {
  width: 177px;
  border-right: 1px solid #ccc;
  padding-left: 5px;
  border-bottom: 1px solid #ccc;
}

.trans-amt-item {
  width: 105px;
  padding-left: 5px;
  border-bottom: 1px solid #ccc;
}

/*----modal-add-transaction-----*/

.modal-window-transaction{
  background: #fff;
  position: fixed;
  top: 10%;
  overflow: scroll;
  list-style: none;
  border: 1px solid #000;
  left: 45%;
  width: 350px;
  padding: 20px;
}

.modal-window-transaction h1{
  text-align: center;
  font-weight: bold;
}

.modal-window-transaction label,
.modal-window-transaction select,
.modal-window-transaction input {
  margin-left: 10px;
  margin-bottom: 10px;
}

.modal-window-transaction .income-label {
  font-size: 14px;
}

.modal-window-transaction textarea {
  padding-left: 5px;
}


.modal-window-transaction .cancel-form {
  color: rgb(69, 202, 230);
  font-size: 14px;
}

.modal-window-transaction .create-transaction {
  padding: 5px;
  background: rgb(69, 202, 230);
  color: #fff;
  margin: 5px;
  font-size: 15px;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  border-radius: 10%
}

.modal-window-transaction .create-transaction:hover {
  background: #000;
}

.modal-window-transaction .cancel-form:hover {
  color: red;
  font-size: 14px;
  border-radius: 10%
}

/*------main-budgets-----*/

.main-window-budgets {
  width: 900px;
  margin: 0 auto;
}


.main-window-budgets .add-budget {
  padding: 7px 8px 6px 5px;
  text-transform: uppercase;
  margin-left: 260px;
  margin-top: 20px;
  background: #fff;
  border-radius: 3px;
}

.main-window-budgets .add-budget:hover {
  background: #ccc;
  color: #fff;
}

.main-window-budgets .income {
  display: block;
  margin-bottom: 20px;
}

.main-window-budgets .income-sidebar {
  float: left;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
  border: 1px solid #ccc;
  height: 100%;
}

.main-window-budgets .income-sidebar h1,
.main-window-budgets .spends-sidebar h1 {
  font-weight: bold;
}

.main-window-budgets .income-sidebar p,
.main-window-budgets .spends-sidebar p {
  font-size: 14px;
}


.main-window-budgets .income-main {
  float: left;
  padding-left: 30px;
  padding-top: 20px;
}


.main-window-budgets .spend {
  display: block;
  padding-bottom: 20px;
}

.main-window-budgets .spends-sidebar {
  float: left;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
  border: 1px solid #ccc;
}


.main-window-budgets .spends-main {
  float: left;
  padding-left: 30px;
  padding-top: 20px;
  height: 300px;
  overflow: scroll;
}

.main-window-budgets .spends-main,
.main-window-budgets .income-main  {
  font-size: 12px;
  font-weight: bold;
  float: left;
}

.main-window-budgets .budget-chart{
  font-size: 12px;
  height: 60px;
  width: 600px;
}


/*-------budget-creation-window-----*/

.modal-window-budgets {
  background: #fff;
  position: fixed;
  top: 10%;
  overflow: scroll;
  list-style: none;
  border: 1px solid #ccc;
  left: 45%;
  width: 350px;
  padding: 20px;
}

.modal-window-budgets h2{
  text-align: center;
  font-weight: bold;
}

.modal-window-budgets label,
.modal-window-budgets select,
.modal-window-budgets input {
  margin-left: 10px;
  margin-bottom: 10px;
}

.modal-window-budgets label {
  font-size: 14px;
}

.modal-window-budgets .cancel-form {
  color: rgb(69, 202, 230);
  font-size: 14px;
}

.modal-window-budgets .create-budget {
  padding: 5px;
  background: rgb(69, 202, 230);
  color: #fff;
  margin: 5px;
  font-size: 15px;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  border-radius: 10%
}

.modal-window-budgets .create-budget:hover {
  background: #000;
}

.modal-window-budgets .cancel-form:hover {
  color: red;
  font-size: 14px;
  border-radius: 10%
}


/*------footer------*/
.footer {
  padding: 5px;
  width: 100%;
  background: #eee;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #ccc;
}
