/*------main-budgets-----*/

.main-window-budgets {
  width: 900px;
  margin: 0 auto;
}


.main-window-budgets .add-budget {
  padding: 7px 8px 6px 5px;
  text-transform: uppercase;
  margin-left: 260px;
  margin-top: 20px;
  background: #fff;
  border-radius: 3px;
}

.main-window-budgets .add-budget:hover {
  background: #ccc;
  color: #fff;
}

.main-window-budgets .income {
  display: block;
  margin-bottom: 20px;
}

.main-window-budgets .income-sidebar {
  float: left;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
  border: 1px solid #ccc;
  height: 100%;
}

.main-window-budgets .income-sidebar h1,
.main-window-budgets .spends-sidebar h1 {
  font-weight: bold;
}

.main-window-budgets .income-sidebar p,
.main-window-budgets .spends-sidebar p {
  font-size: 14px;
}


.main-window-budgets .income-main {
  float: left;
  padding-left: 30px;
  padding-top: 20px;
}


.main-window-budgets .spend {
  display: block;
  padding-bottom: 20px;
}

.main-window-budgets .spends-sidebar {
  float: left;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
  border: 1px solid #ccc;
}


.main-window-budgets .spends-main {
  float: left;
  padding-left: 30px;
  padding-top: 20px;
  height: 300px;
  overflow: scroll;
}

.main-window-budgets .spends-main,
.main-window-budgets .income-main  {
  font-size: 12px;
  font-weight: bold;
  float: left;
}

.main-window-budgets .budget-chart{
  font-size: 12px;
  height: 60px;
  width: 600px;
}


/*-------budget-creation-window-----*/

.modal-window-budgets {
  background: #fff;
  position: fixed;
  top: 10%;
  overflow: scroll;
  list-style: none;
  border: 1px solid #ccc;
  left: 45%;
  width: 350px;
  padding: 20px;
}

.modal-window-budgets h2{
  text-align: center;
  font-weight: bold;
}

.modal-window-budgets label,
.modal-window-budgets select,
.modal-window-budgets input {
  margin-left: 10px;
  margin-bottom: 10px;
}

.modal-window-budgets label {
  font-size: 14px;
}

.modal-window-budgets .cancel-form {
  color: rgb(69, 202, 230);
  font-size: 14px;
}

.modal-window-budgets .create-budget {
  padding: 5px;
  background: rgb(69, 202, 230);
  color: #fff;
  margin: 5px;
  font-size: 15px;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  border-radius: 10%
}

.modal-window-budgets .create-budget:hover {
  background: #000;
}

.modal-window-budgets .cancel-form:hover {
  color: red;
  font-size: 14px;
  border-radius: 10%
}
